<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danbamtech.healthcare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/menu1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Healthcare">
        <activity android:name=".LoginDokter"></activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AmbilAntrian" />
        <activity android:name=".PoliActivity" />
        <activity android:name=".DashboardAntrian" />
        <activity android:name=".Poliklinik" />
        <activity android:name=".HistoryKeluhanPasien"></activity>
        <activity android:name=".InputKeluhanPasien" />
        <activity android:name=".KeluhanPasien" />
        <activity android:name=".DashboardDokter" />
        <activity android:name=".ScanQr" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>